.block:first-child h2.block-title
{
	margin-top: 20px;
}
.front .main-container>div[class="row"]:nth-child(2)
{
	border-top: 1px solid #d8dadc;
	border-bottom: 1px solid #d8dadc;
	padding-top: 15px;
	padding-bottom: 15px;
}
#language
{
	min-height: inherit;
}

#block-locale-language ul
{
	list-style: none;
}
#block-locale-language ul li
{
	float: left;
	margin-right: 10px;
}
#block-locale-language ul .active
{
	color:black;
}
#Logos
{
	display: none;
}
header[id="navbar"]
{
	margin-top: 0px!important;
	min-height: inherit;
}
#block-menu-menu-login
/*header[id="navbar"] ul  li*/
{
	float: left;
}
header[id="navbar"]
{
	padding-left: 0px;
    background: linear-gradient(to bottom,#d8dadc 0,#b9bbbd 100%);
}
header[id="navbar"] ul  li
{
	border-right: 1px solid #d8dadc;
}
header[id="navbar"] ul  li:last-child
{
	border-right-style: none;
}
header[id="navbar"] ul  li a
{
    padding: 14px 26px;
    font-size: 16px;
    font-weight: 700;
    color: #504f54;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    border-right: 1px solid #98989b;
}
header[id="navbar"] ul  li a:hover,
header[id="navbar"] ul  li a.active
{
	color:#3b75b3 !important;
	background: linear-gradient(to bottom,#e9eaeb 0,#cfd1d3 100%);
}
#uja a:hover 
{
	text-decoration: none;
}
#uja a:hover p:nth-child(2n+1)
{
	color: #284B71;
}
#uja #text,
#footer #text
{
	display: inline-block;
	float: left;
	width: 80%;
	margin-top: 20px;
}
#uja #ujaen,
#footer #ujaen
{
	display: inline-block;
	width: 20%;
	margin-top: 20px;
}
#uja #text p
{
	line-height: 100%;
}
#footer
{

	padding: 10px 0px 0px 0px;
	border:0px;
    background-color: #323033;
    margin-top: 15px;
}
#footer p
{
	margin-left: 45px;
	margin-bottom: 0px;

}
#uja p:first-child,
#footer p:first-child
{
	font-weight: bolder;
	font-size: 30px;
}
#uja p:first-child
{
	font-size: 40px;
}
#uja p:nth-child(2)
{
	font-size: 25px;
}
#footer p:nth-child(2)
{
	font-size: 15px;
	text-transform: uppercase;
}
#uja p:nth-child(3),
#footer p:nth-child(3)
{
	font-size: 40px;
}

#footer p:nth-child(4)
{
	font-size: 10px;
}
#footer p:nth-child(2n+1)
{
	color:#99999A;
}
#footer p:nth-child(2n)
{
	color:white;
}
#uja p:nth-child(2n+1)
{
	color: #3b75b3;
}
#uja p:nth-child(2n)
{
	color: #818084;
}
#uja div:first-child,
#footer div:first-child
{
	width: 100%;
	display: inline-block;
}
#footer #partners
{
	padding: 15px 0px 15px 0px;
	position: relative;
	bottom: -5px;
	width: 100%;
	display: inline-block;
	background-color: #E3E4E5;
}
#junta
{
	margin-left: 45px;
}
#feder
{
	margin-left: 20px;
}
#junta,#feder
{
	float: left;
}
#block-socialnetwork-socialnetwork
{
	height: 0px;
}
#socialnetworks
{
	float: right;
	margin-top: 9px;
}
@media(max-width: 768px){

	#uja p:first-child
	{
		font-size: 25px;
	}
	#footer p:first-child
	{
		font-size: 25px;
	}
	#uja p:nth-child(2)
	{
		font-size: 12px;
	}
	#footer p:nth-child(2)
	{
		font-size: 9px;
		text-transform: uppercase;
	}
	#uja p:nth-child(3)
	{
		font-size: 21px;
	}
	#footer p:nth-child(3)
	{
		font-size: 20px;
	}

	#footer p:nth-child(4)
	{
		font-size: 10px;
	}
	#socialnetworks
	{
		text-align: center;
		float: none;
	}

}
@media(min-width: 768px){

	#uja p:first-child
	{
		font-size: 40px;
	}
	#footer p:first-child
	{
		font-size: 25px;
	}
	#uja p:nth-child(2)
	{
		font-size: 17px;
	}
	#footer p:nth-child(2)
	{
		font-size: 11px;
		text-transform: uppercase;
	}
	#uja p:nth-child(3)
	{
		font-size: 29px;
	}
	#footer p:nth-child(3)
	{
		font-size: 28px;
	}

	#footer p:nth-child(4)
	{
		font-size: 10px;
	}

}
@media(min-width: 992px){

	#uja p:first-child
	{
		font-size: 40px;
	}
	#uja p:nth-child(2)
	{
		font-size: 22px;
	}
	#footer p:nth-child(2)
	{
		font-size: 15px;
		text-transform: uppercase;
	}
	#uja p:nth-child(3)
	{
		font-size: 38px;
	}
	#footer p:nth-child(3)
	{
		font-size: 37px;
	}

	#footer p:nth-child(4)
	{
		font-size: 10px;
	}

}
@media(max-width: 1200px){

	header[id="navbar"]
	{
		margin-top: 10px!important;
	}
}
header[id="navbar"]
{
	padding-right: 0px;
}

div[class="navbar-collapse collapse"]
{
	padding: 0px;
}
#footer-links
{
	padding: 0px;
}
#block-locale-language h2,
#block-menu-menu-login h2,
#block-menu-menu-perfil-y-logout .block-title,
#block-menu-menu-pol-tica-de-privacidad .block-title
{
	display: none;
}
.region-footer1 a,
.region-footer2 a
{
	color:#888;
}


.region-footer1 a:hover,
.region-footer2 a:hover
{
	background-color: transparent !important;
	color: black;
}

.footer3
{
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3b75b3;
    text-align: center;
    color: #87b5f7;
    font-size: 13px;
}

#toolbar .toolbar-drawer
{
	display: inline-block;
}