.front .col-lg-7
{
	padding-right: 10px;
}
.front .col-lg-5
{
	padding-left: 0px;
}
#views-bootstrap-grid-1
{
	margin-right: 10px;
}
#block-views-productos-block-1 .block-title,
#block-views-research-group-block-1 .block-title
{
	border-bottom: 1px solid #d8dadc;
	margin-right: 10px;
}
#block-views-productos-block-1 .block-title span,
#block-views-research-group-block-1 .block-title span
{
	display: inline-block;
    padding: 12px 25px 8px;
    font-size: 16px;
    border-radius: 3px 3px 0 0;
    color: #5c5b60;
    background-image: linear-gradient(to top,#edeeef 0,#f8f8f8 100%);
    border-top: 1px solid #d8dadc;
    border-right: 1px solid #d8dadc;
    border-left: 1px solid #d8dadc;
}
#block-views-productos-block-1 .block-title b,
#block-views-research-group-block-1 .block-title b
{
	color:#3b75b3;
}
.front #views-bootstrap-grid-1 .row
{
	margin-top: 15px;
	width: 100%;
}
.front #views-bootstrap-grid-1  .col
{

	margin-left: 15px;

}
#views-bootstrap-grid-1  .col
{
	margin-left: 15px;
	background-color: #DADBDC;
	min-height: 172px;
	padding: 0px;	
}
#views-bootstrap-grid-1 .views-field-field-imagen-producto,
#views-bootstrap-grid-1 .img
{
	float: left;
	background-color: #a0b9d3;
	border-radius: 3px;
	padding: 14.5px 15px 14.5px 15px;

}
.front #views-bootstrap-grid-1  .views-field-field-imagen-producto
{
	max-width: 58%;
		
}
.front #views-bootstrap-grid-1  .views-field-field-imagen-producto img
{
	width: 230px;
	height: 143px;
}
#views-bootstrap-grid-1 .views-field-field-imagen-producto,
#views-bootstrap-grid-1 .img
{
    border: 1px solid #769fca;
    margin-right: 15px;
}
#views-bootstrap-grid-1 .img img
{
	float: left;
	width: 145px;
	height: 142px;

}
.front #views-bootstrap-grid-1  .info
{

}

#views-bootstrap-grid-1 .info
{
	
	min-height: 173px;
	margin-left: auto;
	padding: 18px 20px 18px 20px;
}

#views-bootstrap-grid-1 .info .title
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	font-weight: 700;
}
#views-bootstrap-grid-1 .info .title a
{
		color: #000!important;
		font-family: Arial, Helvetica, sans-serif;

}
#views-bootstrap-grid-1 .info .description,
#views-bootstrap-grid-1 .info .description p
{
	overflow: hidden;
	max-height: 115px;	
	color: rgb(92, 91, 96);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
	text-align: justify;
}
.front #views-bootstrap-grid-1 .info .description,
.front #views-bootstrap-grid-1 .info .description p
{
	max-height: 85px
}
#views-bootstrap-grid-1 .info .groups
{	
	position: absolute;	
	bottom: 25px;
	left:278px;
	color: rgb(118, 159, 202);
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	font-size: 11px;
	width: 241px;
	text-transform: uppercase;
}
#views-bootstrap-grid-1 .info .groups b
{
	color: #08c;
	font-weight: normal;
	font-family: Lato, sans-serif;
	
}
.page-list-products .col,
.page-research-group .col
{
	margin-top: 20px;
}
@media(max-width: 768px){


	.page-list-products .col-lg-6,
	.page-research-group .col-lg-6
	{
		width: 100%;

	}
}
@media(min-width: 768px){


}
@media(min-width: 992px){


}
@media(min-width: 1200px){
	.page-list-products .col-lg-6,
	.page-research-group .col-lg-6
	{
		width: 48.5%;
	}

}

/*
#views-bootstrap-grid-1 .info .groups b:hover
{
	color:rgb(0, 85, 128);
}*/
#views-bootstrap-grid-2
{
	margin-right: 10px;
}
#views-bootstrap-grid-2 .row 
{
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;

	width: 100%;
}
#views-bootstrap-grid-2 .col
{
	padding: 0px;
}
#views-bootstrap-grid-2 .video
{
	width: 100%;
	height: 172px;
}
#views-bootstrap-grid-2 .video iframe
{
	width: 100%;
	height: 172px;
}
#views-bootstrap-grid-2 .info
{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 8px 25px 8px 25px;
	background: 	none repeat scroll 0 0 rgba(0,0,0,.7);

}

#views-bootstrap-grid-2 .info .grupo
{
	    font-size: 11px;
    font-weight: 700;
    color: #aeafb1;
}
#views-bootstrap-grid-2 .info .title
{
	    display: block;
    overflow: hidden;
    font-size: 13px;
    color: #fff;
}
#edit-field-sector-productivo-tid-wrapper,
.page-research-group #edit-field-area-tid-wrapper
{
	float:none;
	background-color:#454347;
	border-radius: 5px;
	padding-right: 0px;
}
#edit-field-sector-productivo-tid-wrapper label,
.page-research-group #edit-field-area-tid-wrapper label[for="edit-field-area-tid"]
{
	display: block;
    margin-left: 25px;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 0px;
    color: #fff;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div,
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div
{
	display: inline-block;	
	text-align: center;
	background-size: cover;
	background-position-x:50%;	
	vertical-align: middle;
	
}
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div
{
	width: 11.11%;
	border-right: 1px solid #b65928;
	background-color: #DE7327;
	height:100px;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div
{
	width: 10%;
	border-right: 1px solid #1E5795;
	background-color: #3A74B1;
	height:150px;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div:first-child,
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div:first-child
{
	display: none;
}

.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div:hover
{
	background-color: #CF6C26;

}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div:hover
{
	background-color:#32679D;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div:last-child,
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div:last-child
{
	border-right: 0px;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div a,
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div a
{
	width: 100%;
	display: block;
	height: 100%;
    text-decoration: none;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div a
{
	color:#87B5F7;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12.5px;
	padding-top: 80px;
}
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div a
{
	color:#ffbc71;
	padding-top: 65px;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div a:hover,
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div a:hover
{
	color:white;
}
#edit-field-sector-productivo-tid-wrapper .bef-select-as-links .form-item >div .active,
.page-research-group #edit-field-area-tid-wrapper .bef-select-as-links .form-item >div .active
{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.agr
{
	background-image: url("../images/areas/agr.png");
}
.bio
{
	background-image: url("../images/areas/bio.png");
}
.cts
{
	background-image: url("../images/areas/cts.png");
}
.fqm
{
	background-image: url("../images/areas/fqm.png");
}
.hum
{
	background-image: url("../images/areas/hum.png");
}
.rnm
{
	background-image: url("../images/areas/rnm.png");
}
.sej
{
	background-image: url("../images/areas/sej.png");
}
.tep
{
	background-image: url("../images/areas/tep.png");
}
.tic
{
	background-image: url("../images/areas/tic.png");
}
.agr:hover,
.agr_active
{
	background-image: url("../images/areas/blanco/agr.png");
}
.bio:hover,
.bio_active
{
	background-image: url("../images/areas/blanco/bio.png");
}
.cts:hover,
.cts_active
{
	background-image: url("../images/areas/blanco/cts.png");
}
.fqm:hover,
.fqm_active
{
	background-image: url("../images/areas/blanco/fqm.png");
}
.hum:hover,
.hum_active
{
	background-image: url("../images/areas/blanco/hum.png");
}
.rnm:hover,
.rnm_active
{
	background-image: url("../images/areas/blanco/rnm.png");
}
.sej:hover,
.sej_active
{
	background-image: url("../images/areas/blanco/sej.png");
}
.tep:hover,
.tep_active
{
	background-image: url("../images/areas/blanco/tep.png");
}
.tic:hover,
.tic_active
{
	background-image: url("../images/areas/blanco/tic.png");
}
.AGR
{
	background-image: url("../images/prodSec/agr.png");
}
.BIOySAl
{
	background-image: url("../images/prodSec/bio.png");
}
.ENE
{
	background-image: url("../images/prodSec/ene.png");
}
.GSE
{
	background-image: url("../images/prodSec/emp.png");
}
.HUMyED
{
	background-image: url("../images/prodSec/hum.png");
}
.INF
{
	background-image: url("../images/prodSec/inf.png");
}
.MAT
{
	background-image: url("../images/prodSec/mat.png");
}
.PIND
{
	background-image: url("../images/prodSec/ind.png");
}
.ICT
{
	background-image: url("../images/prodSec/tic.png");
}
.TPC
{
	background-image: url("../images/prodSec/tur.png");
}
.AGR_active,
.AGR:hover
{
	background-image: url("../images/prodSec/blanco/agr.png");
}
.BIOySAl_active,
.BIOySAl:hover
{
	background-image: url("../images/prodSec/blanco/bio.png");
}
.ENE_active,
.ENE:hover
{
	background-image: url("../images/prodSec/blanco/ene.png");
}
.GSE_active,
.GSE:hover
{
	background-image: url("../images/prodSec/blanco/emp.png");
}
.HUMyED_active,
.HUMyED:hover
{
	background-image: url("../images/prodSec/blanco/hum.png");
}
.INF_active,
.INF:hover
{
	background-image: url("../images/prodSec/blanco/inf.png");
}
.MAT_active,
.MAT:hover
{
	background-image: url("../images/prodSec/blanco/mat.png");
}
.PIND_active,
.PIND:hover
{
	background-image: url("../images/prodSec/blanco/ind.png");
}
.ICT_active,
.ICT:hover
{
	background-image: url("../images/prodSec/blanco/tic.png");
}
.TPC_active,
.TPC:hover
{
	background-image: url("../images/prodSec/blanco/tur.png");
}