.main-container>.row
{
	margin-top: 15px;
}
.front .col-lg-8
{
	padding-left: 0px;
}
.front .col-lg-4
{
	padding-right: 0px;
	border-left: 1px solid #d8dadc;
}
.front #block-views-exp-productos-page #edit-populate-wrapper,
.front #block-views-exp-productos-page #edit-field-keywords-tid-wrapper
{
	display: none;
}
#block-views-productos-block-1 .block-title,
#block-views-research-group-block-1 .block-title
{
	border-bottom: 1px solid #d8dadc;

}
#block-views-productos-block-1 .block-title span,
#block-views-research-group-block-1 .block-title span
{
	display: inline-block;
    padding: 12px 25px 8px;
    font-size: 16px;
    border-radius: 3px 3px 0 0;
    color: #5c5b60;
    background-image: linear-gradient(to top,#edeeef 0,#f8f8f8 100%);
    border-top: 1px solid #d8dadc;
    border-right: 1px solid #d8dadc;
    border-left: 1px solid #d8dadc;
}
#block-views-productos-block-1 .block-title b,
#block-views-research-group-block-1 .block-title b
{
	color:#3b75b3;
}
.front #views-bootstrap-grid-1 .row
{
	margin-top: 15px;
	width: 100%;
}
.front #views-bootstrap-grid-1  .col
{

	margin-left: 15px;

}

.front #views-bootstrap-grid-1  .views-field-field-imagen-producto
{
	max-width: 58%;
		
}
.front #views-bootstrap-grid-1  .views-field-field-imagen-producto img
{
	width: 230px;
	height: 143px;
}

.front #views-bootstrap-grid-1  .info
{

}

.front #views-bootstrap-grid-1 .info .description,
.front #views-bootstrap-grid-1 .info .description p
{
	max-height: 85px
}

@media(max-width: 1199px){

	.front .col-lg-8 .row
	{
		margin-left: 0px;
		margin-right: 0px
	}
	.front #views-bootstrap-grid-1 .col
	{
		margin-left: 0px;
	}
	.front .col-lg-8
	{
		padding-right:0px;
	}
	.front .col-lg-4
	{
		border-left: 0px solid ;
		padding-left: 0px;
	}

	.front .region-content
	{
		margin-bottom: 15px;
	}
	.front .region-content2
	{
		/*border-top: 1px solid #d8dadc;*/
		padding-top: 15px;
	}
}

.front #views-bootstrap-carousel-1 img
{
	min-height: 150px;
}