.node-type-grupo-investigaci-n .page-header,
.node-type-producto .page-header
{
	border-bottom: 0px;

}
.node-type-grupo-investigaci-n .field-name-body ,
.node-type-grupo-investigaci-n .field-name-field-area,
.node-type-grupo-investigaci-n .field-name-field-contacto ,
.node-type-grupo-investigaci-n .field-name-field-email ,
.node-type-grupo-investigaci-n .field-name-field-web,
.node-type-grupo-investigaci-n .field-name-field-telefono,
.node-type-grupo-investigaci-n .field-name-field-direcci-n,
.node-type-producto .field-name-body ,
.node-type-producto .field-name-field-inventores,
.node-type-producto .field-name-field-estado,
.node-type-producto .field-name-field-contacto ,
.node-type-producto .field-name-field-email 
{
	min-height: 29px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    list-style: none;
	border-top: 1px solid #d8dadc;
}
.node-type-grupo-investigaci-n .field-name-body  .field-label,
.node-type-grupo-investigaci-n .field-name-field-area .field-label,
.node-type-grupo-investigaci-n .field-name-field-contacto  .field-label,
.node-type-grupo-investigaci-n .field-name-field-email  .field-label,
.node-type-grupo-investigaci-n .field-name-field-telefono .field-label,
.node-type-grupo-investigaci-n .field-name-field-direcci-n .field-label,
.node-type-grupo-investigaci-n .field-name-field-web .field-label,
.node-type-producto .field-name-body  .field-label,
.node-type-producto .field-name-field-inventores .field-label,
.node-type-producto .field-name-field-estado .field-label,
.node-type-producto .field-name-field-contacto  .field-label,
.node-type-producto .field-name-field-email .field-label
{
	font-family: Lato, sans-serif;
	
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.node-type-grupo-investigaci-n .field-name-field-direcci-n,
.node-type-producto .field-name-field-email
{

	border-bottom: 1px solid #d8dadc;
}
.node-type-grupo-investigaci-n .field-name-field-area .field-items,
.node-type-grupo-investigaci-n .field-name-field-contacto .field-items,
.node-type-grupo-investigaci-n .field-name-field-email .field-items,
.node-type-grupo-investigaci-n .field-name-field-web .field-items,
.node-type-grupo-investigaci-n .field-name-field-telefono .field-items,
.node-type-producto .field-name-field-estado .field-items,
.node-type-producto .field-name-field-inventores .field-items,
.node-type-producto .field-name-field-contacto  .field-items,
.node-type-producto .field-name-field-email .field-items
{
	float: right;
}
.node-type-grupo-investigaci-n .field-name-body .field-items
.node-type-producto .field-name-body .field-items
{
	
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-right: 0px;
	text-align: justify;
}

.node-type-grupo-investigaci-n .offer-products,
.node-type-producto .related-groups
{
	margin-top: 50px;

}

.node-type-grupo-investigaci-n .offer-products #title>span,
.node-type-producto .related-groups #title > span
{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);

	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;	
	display: block;
	font-family: Lato, sans-serif;
	font-size: 17px;	
	line-height: 20px;
	padding-bottom: 12px;
	padding-top: 12px;
	text-align: center;
	width: 341px;
}
.node-type-grupo-investigaci-n .offer-products .product,
.node-type-producto .related-groups .research-group
{
	
	background-color: rgba(0, 0, 0, 0);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: rgb(51, 51, 51);
	
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	text-align: left;
	margin: 10px 0px 10px 0px;
}

.node-type-grupo-investigaci-n .offer-products .product #link,
.node-type-producto .related-groups .research-group #link
{
	float: right;
	
	width: 19px;
	height: 19px;
	background-image: url("../images/BOTON_CIRCULO_FLECHITA-ON.png");
}
.node-type-producto .related-groups .research-group #link
{
	background-image: url("../images/BOTON_FLECHITA_ROJA-OFF.png");
	width: 25px;
}
.node-type-grupo-investigaci-n .contacto,
.node-type-producto .contacto
{
    text-align: center;
    margin-top: 30px;
    background-color: #fbeade;
    background-image: url("../images/FONDO_FORMULARIO.png");
    background-repeat: no-repeat;
    background-position: right top;
    padding: 47px 0px 47px 0px;

}
.node-type-producto .contacto
{
	background-image: url("../images/INCONO_INFORMACION.png");
}

.node-type-grupo-investigaci-n .contacto>p,
.node-type-producto .contacto > p
{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 22px;

}
.node-type-grupo-investigaci-n .contacto #textForm,
.node-type-producto .contacto #textForm
{
	width: 315px;
	margin: 0px 0px 10px 0px;
	padding:4px 15px 4px 15px;

	border:1px solid;
	border-radius: 4px;
	border-color: #ccc;

	background-color: rgb(255, 255, 255);	
	
	cursor: auto;
	display: inline-block;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;

	outline: none;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;	
	word-spacing: 0px;
	writing-mode: lr-tb;
	vertical-align: middle;
}


.node-type-grupo-investigaci-n .contacto button,
.node-type-producto .contacto button
{
	
	-webkit-appearance: none;
	align-items: flex-start;
	background-attachment: scroll;
	background-clip: border-box;
	

	background-origin: padding-box;
	background-size: auto;
	

	
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;	
	border-style: none;	
	border-color:rgb(247, 154, 12);
	border-top-style: none;
	border-width: 0px;

	box-sizing: border-box;
	color: white;
	cursor: pointer;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 41px;
	letter-spacing: normal;
	line-height: 20px;
	
	padding: 11px 28px 10px 28px;
	
	margin: 0px;
	min-width: 100px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	vertical-align: middle;
	width: 100px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.node-type-grupo-investigaci-n .contacto .checkbox a,
.node-type-producto .contacto .checkbox a
{
	text-decoration: underline;
}