.node-type-grupo-investigaci-n .page-header,
.node-type-producto .page-header
{
	border-bottom: 0px;
	margin-bottom: 5px;
	padding-bottom: 0px;

}
.node-type-grupo-investigaci-n .field-name-body ,
.node-type-grupo-investigaci-n .field-name-field-area,
.node-type-grupo-investigaci-n .field-name-field-contacto ,
.node-type-grupo-investigaci-n .field-name-field-email ,
.node-type-grupo-investigaci-n .field-name-field-web,
.node-type-grupo-investigaci-n .field-name-field-telefono,
.node-type-grupo-investigaci-n .field-name-field-direcci-n,
.node-type-producto .field-name-body ,
.node-type-producto .field-name-field-inventores,
.node-type-producto .field-name-field-estado,
.node-type-producto .field-name-field-contacto ,
.node-type-producto .field-name-field-email,
.node-type-producto .field-name-field-sector-productivo
{
	min-height: 29px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    list-style: none;
	border-top: 1px solid #d8dadc;
}
.node-type-grupo-investigaci-n .field-name-body  .field-label,
.node-type-grupo-investigaci-n .field-name-field-area .field-label,
.node-type-grupo-investigaci-n .field-name-field-contacto  .field-label,
.node-type-grupo-investigaci-n .field-name-field-email  .field-label,
.node-type-grupo-investigaci-n .field-name-field-telefono .field-label,
.node-type-grupo-investigaci-n .field-name-field-direcci-n .field-label,
.node-type-grupo-investigaci-n .field-name-field-web .field-label,
.node-type-producto .field-name-body  .field-label,
.node-type-producto .field-name-field-inventores .field-label,
.node-type-producto .field-name-field-estado .field-label,
.node-type-producto .field-name-field-contacto  .field-label,
.node-type-producto .field-name-field-email .field-label,
.node-type-producto .field-name-field-sector-productivo .field-label
{
	font-family: Lato, sans-serif;	
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.node-type-grupo-investigaci-n .field-name-field-direcci-n,
.node-type-producto .field-name-field-email
{

	border-bottom: 1px solid #d8dadc;
}
.node-type-grupo-investigaci-n .field-name-field-area .field-items,
.node-type-grupo-investigaci-n .field-name-field-contacto .field-items,
.node-type-grupo-investigaci-n .field-name-field-email .field-items,
.node-type-grupo-investigaci-n .field-name-field-web .field-items,
.node-type-grupo-investigaci-n .field-name-field-telefono .field-items,
.node-type-producto .field-name-field-estado .field-items,
.node-type-producto .field-name-field-inventores .field-items,
.node-type-producto .field-name-field-contacto  .field-items,
.node-type-producto .field-name-field-email .field-items,
.node-type-producto .field-name-field-sector-productivo .field-items
{
	float: right;
	text-align: right;
}
.node-type-grupo-investigaci-n .field-name-body .field-items
.node-type-producto .field-name-body .field-items
{
	
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-right: 0px;
	text-align: justify;
}


.node-type-grupo-investigaci-n .contacto .checkbox a,
.node-type-producto .contacto .checkbox a
{
	text-decoration: underline;
}



.node-type-grupo-investigaci-n footer,
.node-type-producto footer
{
	display: none;
}